.bootstrap-navbar-container {
    width: 10%;
    border-right: 2px solid;
    flex: 1;
}

.sidebar-container {
    flex: 7;
    padding-left: 3%;
    margin: 42px;
    border: 1px solid black;
}

.main-container {
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

label {
    padding-top: 10px;
}

.header-container {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

button, h1 {
    margin: 10px 10px 0 0;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons > button {
    margin-bottom: 10px;
}
