<div class="header-container">
    <div>
        <h1>Abc Limited</h1>
    </div>
    <div>
        <button class="btn btn-warning" (click)="logout()">LOG OUT</button>
    </div>
</div>

<div class="main-container">
    <div class="bootstrap-navbar-container">
        <ul class="nav flex-column" *ngFor="let item of navItems; index as i;">
            <li class="nav-item">
              <a class="nav-link" (click)=onClickNavItem(i)>{{item}}</a>
            </li>
          </ul>
    </div>
    <div class="sidebar-container">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div class="row col-md-12">
                <div *ngFor="let item of fieldItems; index as i;" class="col-md-6">
                    <div class="form-group">
                        <label [for]="item.itemLabel">{{item.itemLabel}}</label>
                        <input type="text" [formControlName]="getFormControlName(i)" class="form-control" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-info" type="reset">Reset</button>  
            </div>
        </form>        
    </div>    
</div>